version: "3.9"

services:
  db:
    image: postgres:16
    container_name: beauty_helper_bd
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: pass
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: beauty_helper_api
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  db_data:
